<template>

    <h1>To-Do List</h1>

    <template for:each={todoList} for:item="el">
        <div class="item" key={el.id}>
            <button value={el.id} onclick={onRemoveClick}>Remove</button>

            {el.name}

        </div>

    </template>

    <div class="item">
        <input value={newItemText} oninput={onNewItemChange} class="new-item" />
        <button if:true={addItemDisabled} disabled onclick={onAddItem}>Add Item</button>
        <button if:false={addItemDisabled} onclick={onAddItem}>Add Item</button>
    </div>
</template>